
<table fer-table class="fer-elevation-z8">
  <thead>
    <tr>
      <th class="fer-th" *ngFor="let head of displayedColumns" scope="col">
        {{ head }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let el of dataSource">
      <td
        matBadge="{{ el.turno }}"
        matBadgePosition="below before"
        matBadgeColor="primary">
      </td>
      <td>{{ el.nombre }}</td>
      <td>{{ el.telefono }}</td>
      <td><app-countdown [counter] = "el.tiempo"></app-countdown></td>
      <td>
        <button mat-flat-button color="warn" class="small-btn" *ngIf="!stateButtonService.isActive" color="info" disabled>
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >hourglass_bottom</mat-icon>
          Fin
        </button>
      </td>
    </tr>
  </tbody>
</table>

<app-modal-button></app-modal-button>

