
<script>
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%//
//%%%%%%%%%%%%%%%%%%%%%%%% Funciones %%%%%%%%%%%%%%%%%%%%%%%//
//%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%//
//%%%%%%%%%%%%%%%%%%%%%%%% Mostrar tooltips siempre %%%%%%%%%%%%%%%%%%%%%%%//
  Chart.pluginService.register({
    beforeRender: function (chart) {
      if (chart.config.options.showAllTooltips) {
        chart.pluginTooltips = [];
        chart.config.data.datasets.forEach(function (dataset, i) {
          chart.getDatasetMeta(i).data.forEach(function (sector, j) {
            chart.pluginTooltips.push(new Chart.Tooltip({
              _chart: chart.chart,
              _chartInstance: chart,
              _data: chart.data,
              _options: chart.options.tooltips,
              _active: [sector]
            }, chart));
          });
        });
        chart.options.tooltips.enabled = false;
      }
    },
    afterDraw: function (chart, easing) {
      if (chart.config.options.showAllTooltips) {
        if (!chart.allTooltipsOnce) {
          if (easing !== 1)
            return;
          chart.allTooltipsOnce = true;
        }
        chart.options.tooltips.enabled = true;
        Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
          tooltip.initialize();
          tooltip.update();
          tooltip.pivot();
          tooltip.transition(easing).draw();
        });
        chart.options.tooltips.enabled = false;
      }
    }
  });

  //%%%%%%%%%%%%%%%%%%%%%%%% posicion del tooltip todas las graficas%%%%%%%%%%%%%%%%%%%%%%%//
  Chart.Tooltip.positioners.todas = function(elements, eventPosition) {

        var tooltip = this;
        if (!elements.length) {
        return false;
        }
        var i, len;
        var x = 0;
        var y = 0;
        var count = 0;
        for (i = 0, len = elements.length; i < len; ++i) {
        var el = elements[i];
        if (el && el.hasValue()) {
            var pos = el.tooltipPosition();
            x += pos.x;
            y += pos.y + 14;
            ++count;
        }
        }
        return {
        x: Math.round(x / count),
        y: Math.round(y / count)
        };
    }




</script>

<hr>
<div class="container">
  <div class="row">
    <canvas
      baseChart
      [datasets]="this.ch1barChartData"
      [labels]="ch1barChartLabels"
      [options]="ch1barChartOptions"
      [plugins]="ch1barChartPlugins"
      [legend]="ch1barChartLegend"
      [chartType]="ch1barChartType"
    >
    </canvas>
  </div>

  <div class="row">
    <div class="col-6">
      <canvas
        baseChart
        [datasets]="this.ch2barChartData"
        [labels]="ch2barChartLabels"
        [options]="ch2barChartOptions"
        [plugins]="ch2barChartPlugins"
        [legend]="ch2barChartLegend"
        [chartType]="ch2barChartType"
      >
      </canvas>
    </div>

    <div class="col-6">
      <canvas
        baseChart
        [datasets]="this.ch3barChartData"
        [labels]="ch3barChartLabels"
        [options]="ch3barChartOptions"
        [plugins]="ch3barChartPlugins"
        [legend]="ch3barChartLegend"
        [chartType]="ch3barChartType"
      >
      </canvas>
    </div>
  </div>
</div>
